<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/boologo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookmyroom"
        tools:targetApi="31">
        <activity
            android:name=".contactus"
            android:exported="false" />
        <activity
            android:name=".resortclientdata"
            android:exported="true" />
        <activity
            android:name=".bewlogousclientdata"
            android:exported="true" />
        <activity
            android:name=".villasclientfdata"
            android:exported="true" />
        <activity
            android:name=".resortpage"
            android:exported="true" />
        <activity
            android:name=".buildeingpage"
            android:exported="true" />
        <activity
            android:name=".villaspagfe"
            android:exported="true" />
        <activity
            android:name=".Clicktheredetails"
            android:exported="true" />
        <activity
            android:name=".otp"
            android:exported="true" />
        <activity
            android:name=".choosescreen"
            android:exported="true">

           </activity>
        <activity
            android:name=".recycel"
            android:exported="true" />
        <activity
            android:name=".booking"
            android:exported="true" />
        <activity
            android:name=".payment"
            android:exported="true" />
        <activity
            android:name=".Detailedpage"
            android:exported="true" />
        <activity
            android:name=".clientdata"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true">
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">

        </activity>
        <activity
            android:name=".Resigration"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>